.loginWrapper{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login{
    background-color: whitesmoke;
    padding: 100px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

.login img{
    width: 250px;
    object-fit: contain;
    margin-bottom: 50px;
}

.login button{
    background-color: #4385f5;
    padding: 15px 30px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 15px;
}